<div class="container">
    <p>Please type in your seat number to proceed</p>
    <p>After you enter the presentation, your seat number will remain active for the next two hours</p>

    <h1>form goes here</h1>
</div>
