
<div class="row">
<header>
    <p class="left"><i>Scissors, Calculator, and a Beige Coat</i></p>
    <p class="right">Graduate presentation by Helena Dong</p>
</header>
    <p class="emphasis">> Duration : // 09m14s</p>
    <p>> Narrative Nº 1</p>
    <div class="body">
        <p>Surrounded by unfamiliarity, you find yourself hauled against an alternate way of life. You begin from zero, again.</p>
        <p>You look above you, breathe. The air is clear. New connections are forged in the household.</p>
        <p>Choosing to embrace them compels you to feel a sense of gratitude. But you seem to be at odds with those around you.</p>
        <p>Despite your hopeful attempts to assimilate, language hinders your progress.
        Your thoughts and intentions are bound. </p>
        <p>You choose to keep them bound. Yet you know that to feel normal, something must be done.</p>

        <p>So, you assemble and venture out on your own. You catch the glances of those in passing. You recognise pity.</p>

        <p>Home is a place that feels remote. You’re home now, but you are not cherished.</p>
        <p>You choose to stay, even when you know that home is not a place of comfort.
        The walls close in while you drift further away from your aspirations. </p>
        <p> It is difficult, I know. This story concludes here, but your story continues. I believe in you.</p>
    </div>
<p>> Narrative Nº 58</p>
<div class="body">
    <p>Surrounded by unfamiliarity, you find yourself hauled against an alternate way of life. You begin from zero, again.</p>
    <p>The home that you used to know feels like a distant reality. You struggle to comprehend the new relations that have emerged.</p>
    <p>You despise them for the enforced compliance, and for circumstances in which you have never been placed before.</p>
    <p>You indulge in the idea of removing yourself from this foreign territory. You do not want to comply, yet the ramifications of a rebellion would cost you far too much.</p> 
    <p>Are you sure?</p>
    <p>What do you want to do?</p>
    <p>The revelation of that inner chaos feels cathartic and unreal. Yet, reality finds its way back to you, and compels you to be... a caretaker.</p>
    <p>You care for those who arrived before, and those who came after. It is a routine to which you have become accustomed.</p>
    <p>Layers and layers disappear as you surrender your time and possessions. But so long as your core remains, you remain.</p>
    <p>What will be left of you if everything is given away? The solution is not always revealed through kindness and compassion.</p>
    <p>But remember, at the end of the day, you will still have you, and I will be here, too.</p>
    </div>
</div>